import(stats)
import(utils)
import(survival)
import(msm)
useDynLib(Immunotherapy.Design)
export(N.PRIME.LRT, PRIME.EM, getHazard,
       Pembedded.EM.P, generate_data,
       PRIME.ReRandomizationTest, Pembedded.ReRandomizationTest.P,
       Pow.Pembedded.P, N.Pembedded.P,
       Pow.PRIME.ReRandomizationTest, Pow.PRIME.LRT,
       PRIME.LRT)
